@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Montserrat", sans-serif;
}
html {
  scroll-behavior: smooth;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .responsive {
    padding-left: 0.5rem /* 8px */;
    padding-right: 0.5rem /* 8px */;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 95%;
  }

  @media (min-width: 1024px) {
    .responsive {
      max-width: 56rem /* 896px */;
    }
  }

  @media (min-width: 1280px) {
    .responsive {
      max-width: 72rem /* 1152px */;
    }
  }

  @media (min-width: 1536px) {
    .responsive {
      max-width: 80rem /* 1280px */;
    }
  }
}
